html {
  font: 400 1.3em 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  color: #fff;
  background: #000;
}

h1 {
  text-align: center;
  font-weight: 500;
}

img {
  min-width: 100vw;
}
